version: '3.8'
services:
  portainer:
    image: portainer/portainer-ce:latest
    restart: always
    container_name: portainer
    ports:
      - "$PORT_443:9443"
      - "$PORT_8000:8000"
    env_file:
      - .env
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "$DATA:/data"
    networks:
      - common-proxy_default

networks:
  common-proxy_default:
    external: true
