version: '3.6'
services:
  gitlab:
    image: gitlab/gitlab-ce:latest
    container_name: gitlab
    restart: always
    hostname: $HOSTNAME
    env_file:
      - .env
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        # Add any other gitlab.rb configuration here, each on its own line
        external_url 'https://$HOSTNAME'
    ports:
      - '3122:22'
      - '3180:80'
      - '3143:443'
    volumes:
      - '$GITLAB_HOME/data:/var/opt/gitlab'
      - '$GITLAB_HOME/logs:/var/log/gitlab'
      - '$GITLAB_HOME/config:/etc/gitlab'
    networks:
      - common-proxy_default

networks:
  common-proxy_default:
    external: true
