version: '3.8'
services:
  app:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    ports:
      - '80:80'
      - '1081:81'
      - '443:443'
    env_file:
      - .env
    volumes:
      - $DATA:/data
      - $LETSENCRYPT:/etc/letsencrypt
