version: '3.8'
services:
  nginx-proxy-manager:
    image: 'jc21/nginx-proxy-manager:2.11.1'
    restart: unless-stopped
    container_name: nginx-proxy-manager
    ports:
      - '80:80'
      - '1081:81'
      - '443:443'
    env_file:
      - .env
    volumes:
      - $DATA:/data
      - $LETSENCRYPT:/etc/letsencrypt
